body,
p {
  font-family: iAWriterQuattroS-Regular, "Dank Mono", Roboto, Helvetica, Arial, "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px; /*preview font-size*/
}

.editor {
  font-family: iAWriterQuattroS-Regular, "Dank Mono", Roboto, Helvetica, Arial, "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
}

.preview {
  font-family: iAWriterQuattroS-Regular, "Dank Mono", Roboto, Helvetica, Arial, "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
}

.theme-dark {
  --background-primary: #282a36;
  --background-primary-alt: #44475a;
  --background-secondary: #282828;
  --background-secondary-alt: #282a36;
  --tag-background: #A7B0B3;
  --text-normal: #f8f8f2;
  --text-muted: #bd93f9;
  --text-faint: #bd93f9;
  --text-title-h1: #ff79c6;
  --text-title-h2: #bd93f9;
  --text-title-h3: #ff5555;
  --text-title-h4: #ffb86c;
  --text-title-h5: #50fa7b;
  --text-title-h6: #8be9fd;
  --text-accent: #50fa7b;
  --text-accent-hover: #8be9fd;
  --pre-code: #282a36;
  --text-highlight-bg: #6272a4;
  --interactive-accent: #ffb86c;
  --interactive-before: #ffb86c;
  --background-modifier-border: #8be9fd;
}

.theme-light {
  --background-primary: #FCFCFC;
  --background-primary-alt: #F1F1F1;
  --background-secondary: #F1F1F1;
  --background-secondary-alt: #CFC1ED;
  --tag-background: #CFC1ED;
  --text-normal: #222222;
  --text-muted: #777777;
  --text-faint: #777777;
  --text-title-h1: #8556B4;
  --text-title-h2: #9f4da6;
  --text-title-h3: #b24695;
  --text-title-h4: #c04182;
  --text-title-h5: #c8416e;
  --text-title-h6: #cb455b;
  --text-accent: #8556B4;
  --text-accent-hover: #017B76;
  --text-highlight-bg: #FAB8B8;
  --pre-code: #F1F1F1;
  --interactive-accent: #8556B4;
  --interactive-before: #FCFCFC;
  --background-modifier-border: #8556B4;
}

#graph-view-canvas .links {
  stroke: var(--interactive-accent) !important;
}

.checkbox-container {
  background-color: var(--interactive-before);
  height: 16px !important;
  width: 34px !important;
}

.checkbox-container::after {
  background-color: var(--background-secondary-alt);
  height: 11px !important;
  width: 14px !important;
  left: -4px !important;
}

html,
body {
  font-size: 18px;
}

strong {
  font-weight: bolder;
}

a,
.internal-link,
.cm-hmd-internal-link,
.cm-link,
.cm-formatting-link {
  color: var(--text-accent) !important;
  text-decoration: none !important;
}

.cm-formatting-link {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

/* paper-clip after internal links */

.internal-link::after {
  content: "\01F4CE";
}

/* this does not overwrite default CSS: */

.CodeMirror .hmd-link-icon::after{
  content: "\01F517" !important;
}

a:hover,
.internal-link:hover {
  color: var(--text-accent-hover) !important;
  text-decoration: none !important;
}

/* ==highlight== in preview */
mark {
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.file-view-actions a,
.cm-quote {
  color: var(--text-normal) !important;
}

.file-view-actions a:hover {
  color: var(--text-accent) !important;
}

.cl-underlined-text {
  text-decoration: none !important;
  color: var(--text-accent-hover) !important;
}

.cm-tag {
  color: var(--text-faint);
}

pre code {
  padding: 8px !important;
  line-height: normal;
  display: block;
  background-color: var(--pre-code) !important;
}

.markdown-preview-view pre {
  padding: 0px !important;
}

code,
.cm-inline-code {
  background-color: var(--pre-code) !important;
  color: var(--text-muted) !important;
  bottom: 0px !important;
}

.markdown-preview-view code {
  font-size: 13.5px;
}

.markdown-preview-view hr {
  height: 1px;
  background: var(--background-modifier-border);
}

.main-container-header {
  padding-top: 0 !important;
}

.title {
  font-weight: 600 !important;
}

.status-bar {
  border: none;
  box-shadow: 0px -1px 0px rgba(17,17,26,0.05),
              0px -2px 8px rgba(17,17,26,0.1);
}

.side-dock-panels-container {
  color: var(--text-muted) !important;
}

.side-dock-panels-container * {
  font-size: 14px !important;
}

.side-dock-title {
  padding-top: 14px !important;
  font-size: 18px !important;
  font-weight: 800 !important
}

.side-dock-ribbon-tab:hover,
.side-dock-ribbon-action:hover,
.side-dock-ribbon-action.is-active:hover,
.nav-action-button:hover,
.side-dock-collapse-btn:hover {
  color: var(--text-accent);
}

.nav-file {
  line-height: normal;
}

.nav-file-title-content {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.plugin {
  padding: 5px 10px !important;
  margin: 0 !important;
}

.is-read-mode .markdown-preview-view p {
  font-family: Avenir;
  font-size: 18px;
}

.cm-s-obsidian,
.app-container {
  font-family: Avenir;
  font-size: 18px; /*Editor font-size*/
}

/*Editor padding*/
.cm-s-obsidian {
  padding-left: 1em !important;
  padding-right: 1em !important;
}

.CodeMirror-scroll::-webkit-scrollbar {
  display: none;
}

.markdown-preview-view {
  font-family: Avenir;
  font-size: 18px;
  padding-left: 10% !important;
  padding-right: 10% !important;
}

.markdown-embed-title {
  font-weight: 600;
}

.markdown-embed {
  padding-left: 10px !important;
  padding-right: 10px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.cm-header-1,
.markdown-preview-view h1 {
  font-family: Avenir;
  font-weight: 500;
  font-size: 34px;
  font-weight: bold;
  color: var(--text-title-h1);
}

.cm-header-2,
.markdown-preview-view h2 {
  font-family: Avenir;
  font-weight: 500;
  font-size: 28px;
  font-weight: bold;
  color: var(--text-title-h2);
}

.cm-header-3,
.markdown-preview-view h3 {
  font-family: Avenir;
  font-weight: 500;
  font-size: 26px;
  font-weight: bold;
  color: var(--text-title-h3);
}

.cm-header-4,
.markdown-preview-view h4 {
  font-family: Avenir;
  font-weight: 500;
  font-size: 22px;
  font-weight: bold;
  color: var(--text-title-h4);
}

.cm-header-5,
.markdown-preview-view h5 {
  font-family: Avenir;
  font-weight: 500;
  font-size: 20px;
  font-weight: bold;
  color: var(--text-title-h5);
}

.cm-header-6,
.markdown-preview-view h6 {
  font-family: Avenir;
  font-weight: 500;
  font-size: 20px;
  font-weight: bold;
  color: var(--text-title-h6);
}

/* table styles */

table,
table tr th,
table tr td {
  border: 1px solid var(--text-muted) !important;
}

table tr th {
  background-color: var(--background-secondary) !important;
  font-weight: 600 !important;
}

table thead {
  border-bottom: 2px solid var(--background-modifier-border);
}

/* not working: */

/* table tr:last-child td:first-child {
  border-bottom-left-radius: 4px !important;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 4px !important;
}
 */

.suggestion-item.is-selected {
  background-color: var(--background-secondary);
}

.empty-state-container:hover {
  background-color: var(--background-secondary-alt);
  border: 5px solid var(--interactive-accent) !important;
}

.theme-light strong {
  color: var(--text-accent);
  font-weight: bolder;
}

.theme-light em {
  color: var(--text-accent);
}

.theme-dark strong {
  color: var(--text-accent);
  font-weight: bolder;
}

.theme-dark em {
  color: var(--text-accent);
}

.cm-s-obsidian .cm-strong {
  font-weight: bolder;
  color: var(--text-accent);
}

.search-result-file-title {
  color: var(--text-accent) !important;
  font-weight: bolder;
}


/* condense line spacing on file explorer title list. also avoids character-level word breaks*/

.nav-file-title-content,
.search-result-file-title,
.search-result-file-match,
.search-result-file-title {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  line-height: normal !important;
  word-break: keep-all;
}


/*clean up side bar empty state (e.g. unlinked mentions not having odd spacing when side bar is narrow)*/

.search-empty-state {
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  line-height: normal;
}


/* Changing backlink pane font-size and color*/

.search-result-file-matches {
  color: var(--text-normal) !important;
}


/* bear-like title style */
/* source: https://gist.github.com/seanwcom/698cf161222d194118d217d77a380d8b */

/* Enable wrapping of code blocks in the preview panel */

.theme-light code[class*="language-"],
.theme-light pre[class*="language-"] {
  white-space: pre-wrap;
}


/* Changing size/color of the header hashtags ## */

.cm-formatting-header {
  color: var(--text-faint);
  font-size: 0.6em;
}

/********/
/* tags */
/********/

/* actual tag in preview */
/* source: https://github.com/obsidian-ezs/obsidian-ursa/blob/master/obsidian.css */

a.tag {
  color: var(--text-normal) !important;
  background-color: var(--tag-background);
  text-decoration: none;
  border-radius: 0.7em;
  padding: 0.1em 0.5em 0.2em 0.5em;
  font-weight: bold;
}

/* Tag left side pillbox */

.cm-s-obsidian span.cm-hashtag-begin {
  color: var(--text-normal);
  background-color: var(--tag-background);
  border-top-left-radius: 0.7em;
  border-bottom-left-radius: 0.7em;
  padding-left: 0.5em;
  padding-bottom: 0.1em;
  padding-top: 0;
  text-decoration: none;
  font-weight: bold;
}

/* Tag right side pillbox */

.cm-s-obsidian span.cm-hashtag-end {
  color: var(--text-normal);
  background-color: var(--tag-background);
  border-top-right-radius: 0.7em;
  border-bottom-right-radius: 0.7em;
  padding-right: 0.5em;
  padding-bottom: 0;
  padding-top: 0;
  text-decoration: none;
  font-weight: bold;
}

/* add some margin before subheadings in preview panel */

h2,
h3,
h4,
h5,
h6 {
  padding-top: 1em;
}

/* add some headings prefix in preview */
/* source: https://github.com/obsidian-ezs/obsidian-ursa/blob/master/obsidian.css */

h1::before {
  content: 'H1 ';
  font-size: 12px;
  color: var(--text-faint);
}

h2::before {
  content: 'H2 ';
  font-size: 12px;
  color: var(--text-faint);
}

h3::before {
  content: 'H3 ';
  font-size: 12px;
  color: var(--text-faint);
}

h4::before {
  content: 'H4 ';
  font-size: 12px;
  color: var(--text-faint);
}

h5::before {
  content: 'H5 ';
  font-size: 12px;
  color: var(--text-faint);
}

h6::before {
  content: 'H6 ';
  font-size: 12px;
  color: var(--text-faint);
}

/* setting popup */

.mod-settings {
  border: none;
}

.vertical-tab-nav-item {
  border-width: 5px;
}

/* blockquote & p */

.markdown-preview-view blockquote {
  border-left: 5px solid var(--background-modifier-border);
  border-top: none;
  border-right: none;
  border-bottom: none;
  padding: 0 0 0 0.2em;
  background: var(--background-secondary);
}

.CodeMirror div.HyperMD-hover > .HyperMD-hover-content p,
.cm-s-obsidian.CodeMirror div.HyperMD-hover > .HyperMD-hover-content p,
.hero-intro-text p,
.markdown-preview-view blockquote p,
.eula-text p {
  margin-top: 1em;
  margin-bottom: 1em;
  /* line-height: 1.3; */
}

@media only screen and (max-width: 720px){
  .hero-intro-text p {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

/* img styling experiment */
/* reference: https://bradfrost.com/web/ */

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.preview img,
.markdown-preview-view img {
  border: 1px solid var(--text-faint);
  box-shadow: 0 10px 0 -5px #a27ec9,
              0 20px 0 -10px #bfa7db,
              0 30px 0 -16px #ddd2eb;
  margin-bottom: 1.5rem;
}
